* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px
}

body {
    /* size: 960px; */
}

header, nav, footer{
    background: gray;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    /* padding: 20px; */

    margin: 5px 15%;

    height: 20%;
    width: 70%;
    /* size: 495px; */
}

section {
    /* padding: 10px; */
    border : 1px solid black;
    width: 35%;
    float:left;
    text-align: center;
    margin: 5px;
    height: 20%;
    position: relative;
    left: 190px;
}

article {
    border : 1px solid black;
    background: gray;
    color: white;
}

article::after {
    clear: both;
}

p {
    border : 1px solid black;
    background: white;
    margin: 5px;
    clear: both;
    color: black;
    line-height: 150%;

}

h1, h2, h3 {
    border : 1px solid black;
    float: left;
    text-align: center;
    color: gray;
    background:white;
    width: 98%;
    clear: both;
    margin: 5px;
    line-height: 150%;

} 

aside {
    text-align: center;
    border : 1px solid black;
    float: left;
    width: 35%;
    margin: 5px;
    height: 20%;
    position: relative;
    left: 190px;
}

aside::after {
    clear: both;
}

footer {
    border : 1px solid black;
    /* width:100%; */
    float: left;
}